language: ruby
rvm:
  - 2.3.3
env:
  - RCOV=true
services:
  - mysql
before_script:
  - mysql -e 'create database ukrmap_test;'
script:
  - RAILS_ENV=test bundle exec rake --trace db:migrate spec
notifications:
  email:
    - shhavel@gmail.com
    - povod.vitalii@gmail.com
