<% content_for :title, "#{@entry.title} | #{@entry.parent.title}" %>
<h1><%= @entry.title %></h1>

<center>
  <script type="text/javascript" src="/flowplayer/flowplayer-3.1.1.min.js"></script>
  <a href="/<%= @entry.video_file %>" id="player" style="display: block; width: 400px; height: 300px;"></a>
  <script type="text/javascript">flowplayer("player", "/flowplayer/flowplayer-3.1.1.swf");</script>
</center>

<%= render 'pager' %>
