.flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url('http://localhost:3000/flags.png') no-repeat;
  margin-right: 5px;
}

.flag.flag-be {
  background-position: 0 0;
}

.flag.flag-en {
  background-position: -16px 0;
}

.flag.flag-uk {
  background-position: -16px -11px;
}

.flag.flag-ru {
  background-position: 0 -11px;
}
