.navbar-lower {
  margin-top: -20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  background-color: #57add4;
}

.container-navbar-lover {
  padding: 0;
}

.navbar-nav-lover > li > a {
  color: #ecf1f6;
}

.navbar-nav-lover > li > a:hover {
  background-color: #57add4;
}

.navbar-nav-lover > li > a:focus {
  background-color: #57add4;
}
