<div class="container">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <span class="navbar-brand hidden-xs"><a href="/">UKRMAP</a></span>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <%= render 'layouts/navigation_links' %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left" role="search" class="search_form" style="margin-top:6px;margin-bottom:4px;">
        <div class="form-group">
          <%= text_field_tag :q, params[:q], id: 'search_query', size: 30, class: 'form-control input-sm' %>
        </div>
        <%= submit_tag t('button_search'), class: 'btn btn-default btn-sm', name: nil %>
      </form>
      <%= render 'layouts/languages_links' %>
    </ul>
  </div>
</div>
